@media only screen and (max-width: 1930px) {
  .header__menu--dropdown .dropdown-menu {
    left: 386px;
  }
  .all .owl-carousel__img {
    height: 793px;
  }
  .all .owl-carousel__img--slogan {
    top: 379px;
  }
  .all .owl-carousel .owl-prev {
    margin-top: -24%;
  }
  .all .owl-carousel .owl-next {
    margin-top: -24%;
  }
  .best .owl-carousel-1 .owl-prev {
    margin-top: -16%;
  }
  .best .owl-carousel-1 .owl-next {
    margin-top: -16%;
  }
  .new-shops .owl-carousel-2 .owl-prev {
    margin-top: -39%;
  }
  .new-shops .owl-carousel-2 .owl-next {
    margin-top: -39%;
  }
}

@media only screen and (max-width: 1690px) {

}

@media only screen and (max-width: 1450px) {
  .header__menu--dropdown .dropdown-menu {
    left: 241px;
  }
  .all .owl-carousel__img {
    height: 603px;
  }
  .all .owl-carousel__img--slogan {
    top: 267px;
  }
  .all .owl-carousel .owl-prev {
    margin-top: -26%;
  }
  .all .owl-carousel .owl-next {
    margin-top: -26%;
  }
  .best .owl-carousel-1 .owl-prev {
    margin-top: -18%;
  }
  .best .owl-carousel-1 .owl-next {
    margin-top: -18%;
  }
  .new-shops .owl-carousel-2 .owl-prev {
    margin-top: -55%;
  }
  .new-shops .owl-carousel-2 .owl-next {
    margin-top: -55%;
  }
}

@media only screen and (max-width: 1390px) {
  .header__menu--dropdown .dropdown-menu {
    left: 225px;
  }
  .all .owl-carousel__img {
    height: 571px;
  }
  .all .owl-carousel__img--slogan {
    top: 249px;
  }
  .all .owl-carousel .owl-prev {
    margin-top: -26%;
  }
  .all .owl-carousel .owl-next {
    margin-top: -26%;
  }
  .best .owl-carousel-1 .owl-prev {
    margin-top: -19%;
  }
  .best .owl-carousel-1 .owl-next {
    margin-top: -19%;
  }
  .new-shops .owl-carousel-2 .owl-prev {
    margin-top: -57%;
  }
  .new-shops .owl-carousel-2 .owl-next {
    margin-top: -57%;
  }
}

@media only screen and (max-width: 1370px) {
  .header__menu--dropdown .dropdown-menu {
    left: 221px;
  }
  .all .owl-carousel__img {
    height: 563px;
  }
  .all .owl-carousel__img--slogan {
    top: 237px;
  }
  .all .owl-carousel .owl-prev {
    margin-top: -26%;
  }
  .all .owl-carousel .owl-next {
    margin-top: -26%;
  }
  .best .owl-carousel-1 .owl-prev {
    margin-top: -19%;
  }
  .best .owl-carousel-1 .owl-next {
    margin-top: -19%;
  }
  .new-shops .owl-carousel-2 .owl-prev {
    margin-top: -50%;
  }
  .new-shops .owl-carousel-2 .owl-next {
    margin-top: -50%;
  }
}

@media only screen and (max-width: 1025px) {
  .header__logo--menu ul li {
    padding-top: 0;
  }
  .header__logo--menu ul {
    padding-left: 0;
  }
  .header__menu--dropdown .btn {
    font-size: 12px;
  }
  .header__menu--dropdown .btn .drop-arrow {
    width: 14px;
    height: 12px;
    background-size: 13px;
  }
  .header__menu--dropdown .dropdown-menu {
    left: 41px;
  }
  .header__menu--dropdown .dropdown-menu li a {
    font-size: 12px;
  }
  .header__menu--search form .search__submit {
    width: 16px;
    height: 16px;
    background-size: 17px;
  }
  .header__menu--search form .search__text {
    padding: 2px 35px 2px 35px;
    font-size: 12px;
  }
  .header__menu--add__shop a img {
    width: 17%;
    padding: 0px 0px;
  }
  .header__menu--add__adv a img {
    width: 17%;
    padding: 0px 0px;
  }
  .header__menu--add__shop a {
    font-size: 9px;
    line-height: 47px;
  }
  .header__menu--add__adv a {
    font-size: 9px;
    line-height: 47px;
  }
  .header .nav li a img {
    width: 87px;
    height: 87px;
  }
  .header .nav li a span {
    font-size: 11px;
    margin-top: -21px;
  }
  .all__title:before {
    width: 33%;
  }
  .all__title:after {
    width: 33%;
  }
  .all .owl-carousel__img {
    height: 420px;
  }
  .all .owl-carousel__img--slogan {
    width: 50%;
    top: 218px;
    right: 0px;
  }
  .all .owl-carousel__img--slogan h3 {
    font-size: 20px;
  }
  .all .owl-carousel__img--slogan p {
    font-size: 15px;
  }
  .all .owl-carousel .owl-next {
    margin-top: -27%;
  }
  .all .owl-carousel .owl-prev {
    margin-top: -27%;
  }
  .best .owl-carousel-1 .owl-prev {
    margin-top: -36%;
  }
  .best .owl-carousel-1 .owl-next {
    margin-top: -36%;
  }
  .new-shops .owl-carousel-2__item--img {
    height: 272px;
  }
  .new-shops__more {
    width: 200px;
    height: 200px;
  }
  .new-shops__more--link:hover {
    font-size: 25px;
  }
  .coupon .owl-carousel-3__item--content__newprice {
    width: 93px;
    font-size: 24px;
  }
  .coupon .owl-carousel-3__item--content__newprice:before {
    right: 91px;
  }
  .coupon .owl-carousel-3__item--img span {
    font-size: 13px;
  }
  .footer__nav .nav li a {
    font-size: 27px;
  }
}

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 770px) {
  .header__logo--menu ul li {
    padding-top: 0;
  }
  .header__logo--menu ul {
    padding-left: 0;
  }
  .header__menu--dropdown .btn {
    font-size: 12px;
  }
  .header__menu--dropdown .btn .drop-arrow {
    width: 14px;
    height: 12px;
    background-size: 13px;
  }
  .header__menu--dropdown .dropdown-menu {
    left: 41px;
  }
  .header__menu--dropdown .dropdown-menu li a {
    font-size: 12px;
  }
  .header__menu--search form .search__submit {
    width: 16px;
    height: 16px;
    background-size: 17px;
  }
  .header__menu--search form .search__text {
    padding: 2px 35px 2px 35px;
    font-size: 12px;
  }
  .header__menu--add__shop a img {
    width: 17%;
    padding: 0px 0px;
  }
  .header__menu--add__adv a img {
    width: 17%;
    padding: 0px 0px;
  }
  .header__menu--add__shop a {
    font-size: 9px;
    line-height: 47px;
  }
  .header__menu--add__adv a {
    font-size: 9px;
    line-height: 47px;
  }
  .header .nav li a img {
    width: 87px;
    height: 87px;
  }
  .header .nav li a span {
    font-size: 11px;
    margin-top: -21px;
  }
  .all__title:before {
    width: 33%;
  }
  .all__title:after {
    width: 33%;
  }
  .all .owl-carousel__img {
    height: 315px;
  }
  .all .owl-carousel__img--slogan {
    width: 50%;
    top: 123px;
    right: 0px;
  }
  .all .owl-carousel__img--slogan h3 {
    font-size: 20px;
  }
  .all .owl-carousel__img--slogan p {
    font-size: 15px;
  }
  .all .owl-carousel .owl-next {
    margin-top: -30%;
  }
  .all .owl-carousel .owl-prev {
    margin-top: -30%;
  }
  .best .owl-carousel-1 .owl-prev {
    margin-top: -35%;
  }
  .best .owl-carousel-1 .owl-next {
    margin-top: -35%;
  }
  .new-shops .owl-carousel-2__item--img {
    height: 272px;
  }
  .new-shops__more {
    width: 150px;
    height: 150px;
  }
  .new-shops__more--link:hover {
    font-size: 25px;
  }
  .coupon .owl-carousel-3__item--content__newprice {
    width: 93px;
    font-size: 24px;
  }
  .coupon .owl-carousel-3__item--content__newprice:before {
    right: 91px;
  }
  .coupon .owl-carousel-3__item--img span {
    font-size: 13px;
  }
  .footer__nav .nav li a {
    font-size: 19px;
  }
  .modal-dialog {
    position: relative;
    width: auto;
    margin-top: 110px;
  }
}

@media only screen and (max-width: 670px) {
  .header__logo--img {
    width: 100%;
  }
  .header__logo--menu {
    width: 100%;
  }
  .header__logo--menu ul li {
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
  .header__menu {
    height: auto;
  }
  .header__menu--dropdown {
    width: 100%;
  }
  .header__menu--dropdown .btn {
    text-align: center;
  }
  .header__menu--search {
    width: 100%;
  }
  .header__menu--add {
    width: 100%;
  }
  .header .nav li {
    width: 100%;
    text-align: center;
  }
  .all__title:before {
    display: none;
  }
  .all__title:after {
    display: none;
  }
  .all .owl-carousel__img {
    height: 246px;
  }
  .all .owl-carousel .owl-prev {
    width: 17px;
    height: 22px;
    background-size: contain;
    margin-top: -28%;
  }
  .all .owl-carousel .owl-next {
    width: 17px;
    height: 22px;
    background-size: contain;
    margin-top: -28%;
  }
  .all .owl-carousel__img--slogan {
    width: 50%;
    top: 80px;
    right: 0px;
  }
  .all .owl-carousel__img--slogan h3 {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .all .owl-carousel__img--slogan p {
    font-size: 10px;
  }
  .best .owl-carousel-1 .owl-prev {
    margin-top: -43%;
  }
  .best .owl-carousel-1 .owl-next {
    margin-top: -43%;
  }
  .new-shops .owl-carousel-2 .owl-prev {
    margin-top: -32%;
  }
  .new-shops .owl-carousel-2 .owl-next {
    margin-top: -32%;
  }
  .new-shops__more {
    width: 100%;
    height: 200px;
  }
  .footer__nav ul {
    padding: 0px;
  }
  .footer__nav ul li {
    float: none;
    text-align: center;
  }
}

@media only screen and (max-width: 568px) {
  .header__logo--img {
    width: 100%;
  }
  .header__logo--menu {
    width: 100%;
  }
  .header__logo--menu ul li {
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
  .header__menu {
    height: auto;
  }
  .header__menu--dropdown {
    width: 100%;
  }
  .header__menu--dropdown .btn {
    text-align: center;
  }
  .header__menu--search {
    width: 100%;
  }
  .header__menu--add {
    width: 100%;
  }
  .header .nav li {
    width: 100%;
    text-align: center;
  }
  .all__title:before {
    display: none;
  }
  .all__title:after {
    display: none;
  }
  .all .owl-carousel__img {
    height: 246px;
  }
  .all .owl-carousel .owl-prev {
    width: 17px;
    height: 22px;
    background-size: contain;
    margin-top: -28%;
  }
  .all .owl-carousel .owl-next {
    width: 17px;
    height: 22px;
    background-size: contain;
    margin-top: -28%;
  }
  .all .owl-carousel__img--slogan {
    width: 50%;
    top: 80px;
    right: 0px;
  }
  .all .owl-carousel__img--slogan h3 {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .all .owl-carousel__img--slogan p {
    font-size: 10px;
  }
  .best .owl-carousel-1 .owl-prev {
    margin-top: -105%;
  }
  .best .owl-carousel-1 .owl-next {
    margin-top: -105%;
  }
  .new-shops__more {
    width: 100%;
    height: 200px;
  }
  .reg__form--field {
    width: 93%;
    font-size: 18px;
  }
  .reg__form--btn {
    width: 263px;
  }
  .footer__nav ul {
    padding: 0px;
  }
  .footer__nav ul li {
    float: none;
    text-align: center;
  }
  .reg .change__form {
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .header__logo--img {
    width: 100%;
  }
  .header__logo--menu {
    width: 100%;
  }
  .header__logo--menu ul li {
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
  .header__menu {
    height: auto;
  }
  .header__menu--dropdown {
    width: 100%;
  }
  .header__menu--dropdown .btn {
    text-align: center;
  }
  .header__menu--search {
    width: 100%;
  }
  .header__menu--add {
    width: 100%;
  }
  .header .nav li {
    width: 100%;
    text-align: center;
  }
  .all__title:before {
    display: none;
  }
  .all__title:after {
    display: none;
  }
  .all .owl-carousel__img {
    height: 100px;
  }
  .all .owl-carousel .owl-prev {
    width: 17px;
    height: 22px;
    background-size: contain;
    margin-top: -28%;
  }
  .all .owl-carousel .owl-next {
    width: 17px;
    height: 22px;
    background-size: contain;
    margin-top: -28%;
  }
  .all .owl-carousel__img--slogan {
    width: 50%;
    top: 8px;
    right: 0px;
  }
  .all .owl-carousel__img--slogan h3 {
    font-size: 8px;
    margin-bottom: 0px;
  }
  .all .owl-carousel__img--slogan p {
    font-size: 6px;
  }
  .best .owl-carousel-1 .owl-prev {
    margin-top: -105%;
  }
  .best .owl-carousel-1 .owl-next {
    margin-top: -105%;
  }
  .new-shops__more {
    width: 100%;
    height: 200px;
  }
  .reg__form--field {
    width: 93%;
    font-size: 18px;
  }
  .reg__form--btn {
    width: 263px;
  }
  .footer__nav ul {
    padding: 0px;
  }
  .footer__nav ul li {
    float: none;
    text-align: center;
  }
  .reg .change__form {
    width: 100%;
  }
}

@media only screen and (max-width: 380px) {
  .header__logo--img {
    width: 100%;
  }
  .header__logo--menu {
    width: 100%;
  }
  .header__logo--menu ul li {
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
  .header__menu {
    height: auto;
  }
  .header__menu--dropdown {
    width: 100%;
  }
  .header__menu--dropdown .btn {
    text-align: center;
  }
  .header__menu--search {
    width: 100%;
  }
  .header__menu--add {
    width: 100%;
  }
  .header .nav li {
    width: 100%;
    text-align: center;
  }
  .all__title:before {
    display: none;
  }
  .all__title:after {
    display: none;
  }
  .all .owl-carousel__img {
    height: 100px;
  }
  .all .owl-carousel .owl-prev {
    width: 17px;
    height: 22px;
    background-size: contain;
    margin-top: -28%;
  }
  .all .owl-carousel .owl-next {
    width: 17px;
    height: 22px;
    background-size: contain;
    margin-top: -28%;
  }
  .all .owl-carousel__img--slogan {
    width: 50%;
    top: 8px;
    right: 0px;
  }
  .all .owl-carousel__img--slogan h3 {
    font-size: 8px;
    margin-bottom: 0px;
  }
  .all .owl-carousel__img--slogan p {
    font-size: 6px;
  }
  .best .owl-carousel-1 .owl-prev {
    margin-top: -105%;
  }
  .best .owl-carousel-1 .owl-next {
    margin-top: -105%;
  }
  .new-shops__more {
    width: 100%;
    height: 200px;
  }
  .reg__form--field {
    width: 93%;
    font-size: 18px;
  }
  .reg__form--btn {
    width: 263px;
  }
  .footer__nav ul {
    padding: 0px;
  }
  .footer__nav ul li {
    float: none;
    text-align: center;
  }
  .reg .change__form {
    width: 100%;
  }
}

@media only screen and (max-width: 330px) {
  .header__logo--img {
    width: 100%;
  }
  .header__logo--menu {
    width: 100%;
  }
  .header__logo--menu ul li {
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
  .header__menu {
    height: auto;
  }
  .header__menu--dropdown {
    width: 100%;
  }
  .header__menu--dropdown .btn {
    text-align: center;
  }
  .header__menu--search {
    width: 100%;
  }
  .header__menu--add {
    width: 100%;
  }
  .header .nav li {
    width: 100%;
    text-align: center;
  }
  .all .owl-carousel__img {
    height: 100px;
  }
  .all .owl-carousel .owl-prev {
    width: 17px;
    height: 22px;
    background-size: contain;
    margin-top: -28%;
  }
  .all .owl-carousel .owl-next {
    width: 17px;
    height: 22px;
    background-size: contain;
    margin-top: -28%;
  }
  .all .owl-carousel__img--slogan {
    width: 50%;
    top: 8px;
    right: 0px;
  }
  .all .owl-carousel__img--slogan h3 {
    font-size: 8px;
    margin-bottom: 0px;
  }
  .all .owl-carousel__img--slogan p {
    font-size: 6px;
  }
  .best .owl-carousel-1 .owl-prev {
    margin-top: -105%;
  }
  .best .owl-carousel-1 .owl-next {
    margin-top: -105%;
  }
  .new-shops__more {
    width: 100%;
    height: 200px;
  }
  .reg__form--field {
    width: 93%;
    font-size: 18px;
  }
  .reg__form--btn {
    width: 263px;
  }
  .footer__nav ul {
   padding: 0px;
  }
  .footer__nav ul li {
    float: none;
    text-align: center;
  }
  .modal-footer .reg__form--btn {
    width: 260px;
  }
  .modal-footer__social--link {
    font-size: 16px !important;
  }
  .reg .change__form {
    width: 100%;
  }
}


