.footer{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  &__nav{
    display: block;
    width: 100%;
    float: left;
    border-bottom: 1px solid #dcdcdc !important;
    ul{
      display: block;
      list-style-type: none;
      width: 100%;
      float: left;
      li{
        display: block;
        float: left;
        margin: 10px;
        a{
          color: #0085c4;
        }
      }
    }
  }
  &__content{
    font-size: 14px;
    color: #828787;
  }
}

/* Стили привязываем к элементу с id='Go_Top' */
#Go_Top {
  position: fixed;
  bottom: 60px;
  right: 30px;
  cursor: pointer;
  z-index: 10;
  display: none;
}
